<div class="card h-100">
    <div class="card-header"> Create New Email</div>
    <dl class="card-body">
        <form action="send" method="POST">
          <input type="hidden" th:name="_csrf.parameterName" th:value="_csrf.token">
            <div class="mb-3">
              <label for="toIds" class="form-label">To</label>
              <input type="text" class="form-control" id="toIds" name="toIds"  th:value="${to}">
              <div id="toIdHelp" class="form-text">Enter comma separated Github usernames of your recepients</div>
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input type="text" class="form-control" id="subject" name="subject">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea rows="6" type="text" class="form-control" id="body" name="body"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </dl>
</div>