<div class="card h-100">
    <div class="card-header"> View Email</div>
    <div class="card-body h-100">
        <dl>
            <dt>From</dt>
            <dd th:text="${email.from}"></dd>
            <dt>To</dt>
            <dd th:text="${toIds}"></dd>
            <dt>Subject</dt>
            <dd th:text="${email.subject}"></dd>
            <dt>Body</dt>
            <dd class="" th:text="${email.body}"></dd>
        </dl>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" hx-get="" hx-trigger="click" hx-target="#content"
            th:attr="hx-get=@{'/compose?to='+${email.from}}">Reply</button>
            <button class="btn btn-primary" type="button"  hx-get="" hx-trigger="click" hx-target="#content"
            th:attr="hx-get=@{'/compose?to='+${email.from}+','+${toIds}}">Reply all</button>
        </div>
    </div>
</div>