<div class="card h-100">
  <div class="card-header" th:text="${folder}">Inbox</div>
  <div class="card-body">
    <div class="list-group" th:if="${folderEmailList != null and !#lists.isEmpty(folderEmailList)}">
      <div class="emailitem list-group-item list-group-item-action" th:each="emailitem: ${folderEmailList}" 
      hx-get="" hx-trigger="click" hx-target="#content" th:attr="hx-get=@{'/emails/'+${emailitem.key.timeUuid}+'/'+${folder}}">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1" th:text="${emailitem.subject}">List group item heading</h5>
          <small th:text="${emailitem.agoTimeString}">3 days ago</small>
        </div>
        <p class="mb-1" th:text="${emailitem.to}">Some placeholder content in a paragraph.</p>
      </div>
    </div>
    <div class="list-group" th:unless="${folderEmailList != null and !#lists.isEmpty(folderEmailList)}">
      <div class="container-fluid">
        <div class="row">
          <div class="col h-100 d-flex align-items-center justify-content-center">
            <span class="text-muted">No messages</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
