<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Inbox</title>
  </head>
  <body>
    <div class="container h-100">
      <header class="row"><h1>Hello, name</h1></header>
      <div class="row">
        <nav class="col-3">
          <div class="card">
            <a href="/compose" class="btn btn-primary">Compose Message</a>
          </div>
          <div th:insert="components/folder_list :: folder_list(panelName='Folders',folders=${defaultfolders})"></div>
          <div th:insert="components/folder_list :: folder_list(panelName='User Folders',folders=${userfolders})"></div>
        </nav>
        <main class="col">
          <div class="card" th:if="${inboxlist}">
            <div class="card-header" th:text="${folder}">Inbox</div>
            <div class="card-body">
              <div class="list-group">
                <a class="list-group-item list-group-item-action" th:each="inboxemail: ${inboxlist}" th:href="@{'/emails/'+${inboxemail.key.timeUuid}}">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${inboxemail.subject}">List group item heading</h5>
                    <small th:text="${inboxemail.agoTimeString}">3 days ago</small>
                  </div>
                  <p class="mb-1" th:text="${inboxemail.to}">Some placeholder content in a paragraph.</p>
                </a>
              </div>
            </div>
        </div>
        </main>
      </div>
      <footer class="row">footer</footer>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
